.row {

    gap: 1rem;
    display: flex;
    
}
.row span {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}
.green {
    background-color: lime !important;
    
}
.yellow {
    background-color: yellow;
}
.game {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.panel {
    display: flex;
    justify-content: center;
}
h1 {
    text-align: center;
    margin-top: 100px;
}
p {
    font-size: 64px;
    text-align: center;
}
.red {
    color: red;
}
.alphabet {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.alphabet span {
    padding-right: 10px;
}
.gray {
    background-color: gray;
}