.row {

    gap: 1rem;
    display: flex;
    
}
.row span {
    width: 50px;
    background-color: rgb(190, 190, 190);
    height: 50px;
    margin-bottom: 1rem;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}
.yellow {
    background-color: yellow;
    color: yellow;
}
.green {
    color: #30a630;
    background-color: lime;
}
.game {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.panel {
    display: flex;
    justify-content: center;
}
h1 {
    text-align: center;
    margin-top: 100px;
}
p {
    font-size: 64px;
    text-align: center;
}
.red {
    color: red;
}